# Heatwaves preprocess for analysis

In [2]:
import pandas as pd
import os

os.chdir("../")
# change working directory to project's root path
print(os.getcwd())

c:\Users\marti\Desktop\data\hw_extra

## Monthly

In [3]:
statlist_cali = ['USC00040983', 'USC00041194', 'USC00041253', 'USC00040741', 'USC00040212', 'USC00040931', 'USC00041277', 'USC00041244', 'USC00040693', 'USC00040449']

data_cali = pd.read_csv(f"data/local_data/monthly/HWs_USC00040983.csv")

indices = ["HWN", "HWF", "HWD", "HWM", "HWA"]


for stat in statlist_cali[1:]:
    df = pd.read_csv(f"data/local_data/monthly/HWs_{stat}.csv", usecols=indices)
    data_cali = pd.concat([data_cali, df], axis=1)
data_cali.set_index("Date", inplace=True)

In [4]:
data_cali

,HWN,HWF,HWD,HWM,HWA,HWN,HWF,HWD,HWM,HWA,...,HWN,HWF,HWD,HWM,HWA,HWN,HWF,HWD,HWM,HWA
Date,,,,,,,,,,,,,,,,,,,,,
1971-01,2,9,5.0,3.469611,6.473216,2,10,5.0,2.806273,6.897858,...,1,4,4.0,1.123754,2.420960,0,0,0.0,0.000000,0.000000
1971-02,1,6,6.0,3.139704,5.460800,1,4,4.0,4.774290,5.469550,...,1,4,4.0,4.019047,5.959864,1,6,6.0,3.656725,7.053183
1971-03,1,3,3.0,1.679230,3.012883,0,0,0.0,0.000000,0.000000,...,0,0,0.0,0.000000,0.000000,0,0,0.0,0.000000,0.000000
1971-04,1,4,4.0,0.672136,1.308830,1,5,5.0,2.834879,4.742464,...,0,0,0.0,0.000000,0.000000,1,3,3.0,3.851942,5.352239
1971-05,0,0,0.0,0.000000,0.000000,0,0,0.0,0.000000,0.000000,...,0,0,0.0,0.000000,0.000000,0,0,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-08,1,3,3.0,1.613948,2.659745,1,4,4.0,2.830289,4.088054,...,0,0,0.0,0.000000,0.000000,0,0,0.0,0.000000,0.000000
2023-09,0,0,0.0,0.000000,0.000000,1,3,3.0,1.040563,1.822319,...,0,0,0.0,0.000000,0.000000,0,0,0.0,0.000000,0.000000
2023-10,2,9,6.0,1.926186,4.592932,2,7,4.0,2.367551,3.491640,...,1,4,4.0,8.864923,10.396096,0,0,0.0,0.000000,0.000000
2023-11,0,0,0.0,0.000000,0.000000,0,0,0.0,0.000000,0.000000,...,1,4,4.0,2.526413,4.121807,0,0,0.0,0.000000,0.000000
2023-12,0,0,0.0,0.000000,0.000000,0,0,0.0,0.000000,0.000000,...,0,0,0.0,0.000000,0.000000,0,0,0.0,0.000000,0.000000

In [5]:

df_mean_cali = pd.DataFrame(columns=indices, index=data_cali.index)

for index in indices:
    df_mean_cali[index] = data_cali[index].mean(axis=1)

save = True
if save:
    df_mean_cali.to_csv("HWs_california_NOAA.csv")
display(df_mean_cali)

         HWN  HWF  HWD       HWM       HWA
Date
1971-01  1.0  5.0  3.6  1.708456  3.255475
1971-02  0.9  4.9  4.9  3.196815  5.239798
1971-03  0.2  0.6  0.6  0.202711  0.352788
1971-04  0.5  1.8  1.8  1.032355  1.754370
1971-05  0.0  0.0  0.0  0.000000  0.000000
...      ...  ...  ...       ...       ...
2023-08  0.3  1.1  1.1  0.573921  1.020132
2023-09  0.1  0.3  0.3  0.104056  0.182232
2023-10  1.0  4.5  3.5  2.140890  3.330383
2023-11  0.3  1.1  1.1  0.431955  0.693072
2023-12  0.3  1.0  0.7  0.299451  0.643099

[636 rows x 5 columns]

## Yearly

In [6]:
data_cali = pd.read_csv(f"data/local_data/yearly/HWs_{statlist_cali[0]}.csv")

indices = ["HWN", "HWF", "HWD", "HWM", "HWA"]

for stat in statlist_cali[1:]:
    df = pd.read_csv(f"data/local_data/yearly/HWs_{stat}.csv", usecols=indices)
    data_cali = pd.concat([data_cali, df], axis=1)
data_cali.set_index("Date", inplace=True)

In [7]:

df_mean_cali = pd.DataFrame(columns=indices, index=data_cali.index)

for index in indices:
    df_mean_cali[index] = data_cali[index].mean(axis=1)

save = True
if save:
    df_mean_cali.to_csv("HWs_california_NOAA.csv")